<!-- form to create comment -->
				<form action="/posts/post["id"]/edit" method="POST">
					<input type="textarea" name="comment" placeholder="Your comment here.">
					<button>Submit Comment</button>
				</form>
