<html>
<head>
	<title>WDumbler</title>
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>	
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
	<div>
		<p><a href="/authors">See all authors</a></p>
		<p><a href="/posts">See all posts</a></p>
	</div>
</body>
</html>