<html>
<head>
	<title>New Author</title>
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>	
	<link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
	<div>
		<h1>Add a new author here</h1>
		<form action="/authors" method="POST">
			<input type="text" name="name" placeholder="Full Name" />
			<input type="text" name="email" placeholder="email" />
			<button>Submit</button>
		</form>

		<p><a href="/">Go home</a></p>


	</div>
</body>
</html>


